通过调用 query_history_k_data_plus ()方法来对日线进行数据获取

In [3]:
import baostock as bs
import pandas as pd
from IPython.display import display

#### 登陆系统 ####
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

#### 获取沪深A股历史K线数据 ####
# 详细指标参数，参见“历史行情指标参数”章节；“分钟线”参数与“日线”参数不同。“分钟线”不包含指数。
# 分钟线指标：date,time,code,open,high,low,close,volume,amount,adjustflag
# 周月线指标：date,code,open,high,low,close,volume,amount,adjustflag,turn,pctChg
rs = bs.query_history_k_data_plus("sh.600000",
    "date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST",
    start_date='2022-07-01', end_date='2022-12-31',
    frequency="d", adjustflag="3")
print('query_history_k_data_plus respond error_code:'+rs.error_code)
print('query_history_k_data_plus respond  error_msg:'+rs.error_msg)

#### 打印结果集 ####
# 将查询结果集转换成 Pandas DataFrame 格式，并输出到 CSV 文件中
data_list = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    data_list.append(rs.get_row_data())

result = pd.DataFrame(data_list, columns=rs.fields)

#### 结果集输出到csv文件 ####   
result.to_csv("./history_A_stock_k_data.csv", index=False)
display(result)

#### 登出系统 ####
bs.logout()

login success!
login respond error_code:0
login respond  error_msg:success
query_history_k_data_plus respond error_code:0
query_history_k_data_plus respond  error_msg:success

,date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
0,2022-07-01,sh.600000,8.0100,8.0400,7.9800,7.9900,8.0100,17846787,142651655.1700,3,0.060800,1,-0.249700,0
1,2022-07-04,sh.600000,7.9900,8.0000,7.9400,7.9600,7.9900,18222009,145047089.1700,3,0.062100,1,-0.375500,0
2,2022-07-05,sh.600000,7.9600,8.0000,7.9400,7.9800,7.9600,21322243,169924262.9100,3,0.072600,1,0.251300,0
3,2022-07-06,sh.600000,7.9700,7.9800,7.8700,7.9000,7.9800,28829658,227963132.4700,3,0.098200,1,-1.002500,0
4,2022-07-07,sh.600000,7.8800,7.9200,7.8600,7.8700,7.9000,18636395,147034169.9300,3,0.063500,1,-0.379700,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,2022-12-26,sh.600000,7.1900,7.2100,7.0800,7.1000,7.1900,20138533,143606823.7100,3,0.068600,1,-1.251700,0
121,2022-12-27,sh.600000,7.1300,7.2900,7.1200,7.2200,7.1000,24065192,173516852.3700,3,0.082000,1,1.690100,0
122,2022-12-28,sh.600000,7.2200,7.3000,7.2000,7.3000,7.2200,20901364,152167733.8100,3,0.071200,1,1.108000,0
123,2022-12-29,sh.600000,7.2700,7.2900,7.1800,7.2400,7.3000,18367088,132652083.0000,3,0.062600,1,-0.821900,0
124,2022-12-30,sh.600000,7.2300,7.3000,7.2200,7.2800,7.2400,20352397,147932730.7100,3,0.069300,1,0.552500,0

logout success!

通过调用 query_history_k_data_plus ()方法来对分钟线进行数据获取。

In [4]:
import baostock as bs
import pandas as pd
from IPython.display import display

#### 登陆系统 ####
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

#### 获取沪深A股历史K线数据 ####
# 详细指标参数，参见“历史行情指标参数”章节；“分钟线”参数与“日线”参数不同。“分钟线”不包含指数。
# 分钟线指标：date,time,code,open,high,low,close,volume,amount,adjustflag
# 周月线指标：date,code,open,high,low,close,volume,amount,adjustflag,turn,pctChg
# 参数区别是 frequency="d"
rs = bs.query_history_k_data_plus("sh.600000",
    "date,time,code,open,high,low,close,volume,amount,adjustflag",
    start_date='2022-07-01', end_date='2022-07-31',
    frequency="5", adjustflag="3")
print('query_history_k_data_plus respond error_code:'+rs.error_code)
print('query_history_k_data_plus respond  error_msg:'+rs.error_msg)

#### 打印结果集 ####
data_list = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    data_list.append(rs.get_row_data())
result = pd.DataFrame(data_list, columns=rs.fields)

#### 结果集输出到csv文件 ####   
result.to_csv("./history_A_stock_k_data.csv", index=False)
display(result)

#### 登出系统 ####
bs.logout()

login success!
login respond error_code:0
login respond  error_msg:success
query_history_k_data_plus respond error_code:0
query_history_k_data_plus respond  error_msg:success

,date,time,code,open,high,low,close,volume,amount,adjustflag
0,2022-07-01,20220701093500000,sh.600000,8.0100,8.0400,8.0100,8.0200,814989,6540084.0000,3
1,2022-07-01,20220701094000000,sh.600000,8.0100,8.0300,8.0100,8.0200,561500,4500107.0000,3
2,2022-07-01,20220701094500000,sh.600000,8.0200,8.0200,8.0100,8.0100,567996,4550430.0000,3
3,2022-07-01,20220701095000000,sh.600000,8.0200,8.0200,8.0000,8.0100,958804,7673820.0000,3
4,2022-07-01,20220701095500000,sh.600000,8.0000,8.0100,7.9800,7.9800,1141000,9122703.0000,3
...,...,...,...,...,...,...,...,...,...,...
1003,2022-07-29,20220729144000000,sh.600000,7.2500,7.2600,7.2400,7.2500,2280958,16538355.0000,3
1004,2022-07-29,20220729144500000,sh.600000,7.2500,7.2500,7.2300,7.2400,2477400,17932752.0000,3
1005,2022-07-29,20220729145000000,sh.600000,7.2300,7.2500,7.2300,7.2400,1461621,10581344.0000,3
1006,2022-07-29,20220729145500000,sh.600000,7.2500,7.2600,7.2400,7.2400,1121914,8130368.0000,3
1007,2022-07-29,20220729150000000,sh.600000,7.2500,7.2600,7.2500,7.2600,1165284,8457152.0000,3

logout success!