通过调用 query_history_k_data_plus ()方法来对日线进行数据获取

In [1]:
import baostock as bs
import pandas as pd
from IPython.display import display

#### 登陆系统 ####
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

#### 获取沪深A股历史K线数据 ####
# 详细指标参数，参见“历史行情指标参数”章节；“分钟线”参数与“日线”参数不同。“分钟线”不包含指数。
# 分钟线指标：date,time,code,open,high,low,close,volume,amount,adjustflag
# 周月线指标：date,code,open,high,low,close,volume,amount,adjustflag,turn,pctChg
rs = bs.query_history_k_data_plus("sh.600000",
    "date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST",
    start_date='2022-07-01', end_date='2022-12-31',
    frequency="d", adjustflag="3")
print('query_history_k_data_plus respond error_code:'+rs.error_code)
print('query_history_k_data_plus respond  error_msg:'+rs.error_msg)

#### 打印结果集 ####
# 将查询结果集转换成 Pandas DataFrame 格式，并输出到 CSV 文件中
data_list = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    data_list.append(rs.get_row_data())

result = pd.DataFrame(data_list, columns=rs.fields)

#### 结果集输出到csv文件 ####   
result.to_csv("./history_A_stock_k_data.csv", index=False)
display(result)

#### 登出系统 ####
bs.logout()

login success!
login respond error_code:0
login respond  error_msg:success
query_history_k_data_plus respond error_code:0
query_history_k_data_plus respond  error_msg:success

,date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
0,2022-07-01,sh.600000,8.0100,8.0400,7.9800,7.9900,8.0100,17846787,142651655.1700,3,0.060800,1,-0.249700,0
1,2022-07-04,sh.600000,7.9900,8.0000,7.9400,7.9600,7.9900,18222009,145047089.1700,3,0.062100,1,-0.375500,0
2,2022-07-05,sh.600000,7.9600,8.0000,7.9400,7.9800,7.9600,21322243,169924262.9100,3,0.072600,1,0.251300,0
3,2022-07-06,sh.600000,7.9700,7.9800,7.8700,7.9000,7.9800,28829658,227963132.4700,3,0.098200,1,-1.002500,0
4,2022-07-07,sh.600000,7.8800,7.9200,7.8600,7.8700,7.9000,18636395,147034169.9300,3,0.063500,1,-0.379700,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,2022-12-26,sh.600000,7.1900,7.2100,7.0800,7.1000,7.1900,20138533,143606823.7100,3,0.068600,1,-1.251700,0
121,2022-12-27,sh.600000,7.1300,7.2900,7.1200,7.2200,7.1000,24065192,173516852.3700,3,0.082000,1,1.690100,0
122,2022-12-28,sh.600000,7.2200,7.3000,7.2000,7.3000,7.2200,20901364,152167733.8100,3,0.071200,1,1.108000,0
123,2022-12-29,sh.600000,7.2700,7.2900,7.1800,7.2400,7.3000,18367088,132652083.0000,3,0.062600,1,-0.821900,0
124,2022-12-30,sh.600000,7.2300,7.3000,7.2200,7.2800,7.2400,20352397,147932730.7100,3,0.069300,1,0.552500,0

logout success!

通过调用 query_history_k_data_plus ()方法来对分钟线进行数据获取。

In [4]:
import baostock as bs
import pandas as pd
from IPython.display import display

#### 登陆系统 ####
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

#### 获取沪深A股历史K线数据 ####
# 详细指标参数，参见“历史行情指标参数”章节；“分钟线”参数与“日线”参数不同。“分钟线”不包含指数。
# 分钟线指标：date,time,code,open,high,low,close,volume,amount,adjustflag
# 周月线指标：date,code,open,high,low,close,volume,amount,adjustflag,turn,pctChg
# 参数区别是 frequency="d"
rs = bs.query_history_k_data_plus("sh.600000",
    "date,time,code,open,high,low,close,volume,amount,adjustflag",
    start_date='2022-07-01', end_date='2022-07-31',
    frequency="5", adjustflag="3")
print('query_history_k_data_plus respond error_code:'+rs.error_code)
print('query_history_k_data_plus respond  error_msg:'+rs.error_msg)

#### 打印结果集 ####
data_list = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    data_list.append(rs.get_row_data())
result = pd.DataFrame(data_list, columns=rs.fields)

#### 结果集输出到csv文件 ####   
result.to_csv("./history_A_stock_k_data.csv", index=False)
display(result)

#### 登出系统 ####
bs.logout()

login success!
login respond error_code:0
login respond  error_msg:success
query_history_k_data_plus respond error_code:0
query_history_k_data_plus respond  error_msg:success

,date,time,code,open,high,low,close,volume,amount,adjustflag
0,2022-07-01,20220701093500000,sh.600000,8.0100,8.0400,8.0100,8.0200,814989,6540084.0000,3
1,2022-07-01,20220701094000000,sh.600000,8.0100,8.0300,8.0100,8.0200,561500,4500107.0000,3
2,2022-07-01,20220701094500000,sh.600000,8.0200,8.0200,8.0100,8.0100,567996,4550430.0000,3
3,2022-07-01,20220701095000000,sh.600000,8.0200,8.0200,8.0000,8.0100,958804,7673820.0000,3
4,2022-07-01,20220701095500000,sh.600000,8.0000,8.0100,7.9800,7.9800,1141000,9122703.0000,3
...,...,...,...,...,...,...,...,...,...,...
1003,2022-07-29,20220729144000000,sh.600000,7.2500,7.2600,7.2400,7.2500,2280958,16538355.0000,3
1004,2022-07-29,20220729144500000,sh.600000,7.2500,7.2500,7.2300,7.2400,2477400,17932752.0000,3
1005,2022-07-29,20220729145000000,sh.600000,7.2300,7.2500,7.2300,7.2400,1461621,10581344.0000,3
1006,2022-07-29,20220729145500000,sh.600000,7.2500,7.2600,7.2400,7.2400,1121914,8130368.0000,3
1007,2022-07-29,20220729150000000,sh.600000,7.2500,7.2600,7.2500,7.2600,1165284,8457152.0000,3

logout success!

获取沪深指数K线数据

In [1]:
import baostock as bs
import pandas as pd
from IPython.display import display

# 登陆系统
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

# 获取指数(综合指数、规模指数、一级行业指数、二级行业指数、策略指数、成长指数、价值指数、主题指数)K线数据
# 综合指数，例如：sh.000001 上证指数，sz.399106 深证综指 等；
# 规模指数，例如：sh.000016 上证50，sh.000300 沪深300，sh.000905 中证500，sz.399001 深证成指等；
# 一级行业指数，例如：sh.000037 上证医药，sz.399433 国证交运 等；
# 二级行业指数，例如：sh.000952 300地产，sz.399951 300银行 等；
# 策略指数，例如：sh.000050 50等权，sh.000982 500等权 等；
# 成长指数，例如：sz.399376 小盘成长 等；
# 价值指数，例如：sh.000029 180价值 等；
# 主题指数，例如：sh.000015 红利指数，sh.000063 上证周期 等；

# 详细指标参数，参见“历史行情指标参数”章节；“周月线”参数与“日线”参数不同。
# 周月线指标：date,code,open,high,low,close,volume,amount,adjustflag,turn,pctChg
rs = bs.query_history_k_data_plus("sh.000001",
    "date,code,open,high,low,close,preclose,volume,amount,pctChg",
    start_date='2022-01-01', end_date='2022-06-30', frequency="d")
print('query_history_k_data_plus respond error_code:'+rs.error_code)
print('query_history_k_data_plus respond  error_msg:'+rs.error_msg)

# 打印结果集
data_list = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    data_list.append(rs.get_row_data())
result = pd.DataFrame(data_list, columns=rs.fields)
# 结果集输出到csv文件
result.to_csv("./history_Index_k_data.csv", index=False)
display(result)

# 登出系统
bs.logout()

login success!
login respond error_code:0
login respond  error_msg:success
query_history_k_data_plus respond error_code:0
query_history_k_data_plus respond  error_msg:success

,date,code,open,high,low,close,preclose,volume,amount,pctChg
0,2022-01-04,sh.000001,3649.1510,3651.8924,3610.0922,3632.3289,3639.7754,40502776900,510251060624.8000,-0.204587
1,2022-01-05,sh.000001,3628.2634,3628.2634,3583.4668,3595.1761,3632.3289,42390202800,538963631684.2000,-1.022837
2,2022-01-06,sh.000001,3581.2184,3594.4890,3559.8803,3586.0792,3595.1761,37154054300,474284290005.4000,-0.253031
3,2022-01-07,sh.000001,3588.9851,3607.2316,3577.0976,3579.5427,3586.0792,43630696100,502891435426.0000,-0.182274
4,2022-01-10,sh.000001,3572.7434,3593.5187,3555.1255,3593.5187,3579.5427,35622261000,443400848592.4000,0.390441
...,...,...,...,...,...,...,...,...,...,...
112,2022-06-24,sh.000001,3324.7360,3356.7145,3322.9496,3349.7470,3320.1487,39081973400,509615998469.1000,0.891475
113,2022-06-27,sh.000001,3364.0030,3393.3091,3364.0030,3379.1852,3349.7470,41411773800,541573846134.1000,0.878819
114,2022-06-28,sh.000001,3377.6793,3412.1017,3358.8666,3409.2103,3379.1852,41205651600,525512509334.6000,0.888531
115,2022-06-29,sh.000001,3399.6779,3414.6467,3358.4676,3361.5177,3409.2103,44057355900,561306976812.3000,-1.398934
116,2022-06-30,sh.000001,3358.9338,3417.0085,3358.9338,3398.6161,3361.5177,38124317800,510307202947.5000,1.103621

logout success!

获取上证成分股票

In [2]:
import baostock as bs # 导入 baostock 库
import pandas as pd   # 导入 pandas 库
from IPython.display import display

# 登陆系统
lg = bs.login()  # 调用 login 方法进行登陆
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code) # 打印登陆返回错误码
print('login respond  error_msg:'+lg.error_msg)  # 打印登陆返回错误信息

# 获取上证50成分股
rs = bs.query_sz50_stocks()  # 调用 query_sz50_stocks 方法获取上证50成分股信息
print('query_sz50 error_code:'+rs.error_code)  # 打印方法返回错误码
print('query_sz50  error_msg:'+rs.error_msg)   # 打印方法返回错误信息

# 打印结果集
sz50_stocks = []   # 创建一个空列表，用于存储查询结果
while (rs.error_code == '0') & rs.next():
    # 如果查询没有出错且还有数据
    sz50_stocks.append(rs.get_row_data())   # 将获取到的数据添加到列表中
result = pd.DataFrame(sz50_stocks, columns=rs.fields)  # 使用 pandas 将数据转换为 DataFrame 格式
# 结果集输出到csv文件
result.to_csv("D:/sz50_stocks.csv", encoding="gbk", index=False)  # 将结果保存为 csv 文件
display(result)   # 打印结果

# 登出系统
bs.logout()  # 调用 logout 方法进行登出

login success!
login respond error_code:0
login respond  error_msg:success
query_sz50 error_code:0
query_sz50  error_msg:success

    updateDate       code code_name
0   2023-10-30  sh.600010      包钢股份
1   2023-10-30  sh.600028      中国石化
2   2023-10-30  sh.600030      中信证券
3   2023-10-30  sh.600031      三一重工
4   2023-10-30  sh.600036      招商银行
5   2023-10-30  sh.600048      保利发展
6   2023-10-30  sh.600050      中国联通
7   2023-10-30  sh.600089      特变电工
8   2023-10-30  sh.600104      上汽集团
9   2023-10-30  sh.600111      北方稀土
10  2023-10-30  sh.600196      复星医药
11  2023-10-30  sh.600276      恒瑞医药
12  2023-10-30  sh.600309      万华化学
13  2023-10-30  sh.600406      国电南瑞
14  2023-10-30  sh.600436       片仔癀
15  2023-10-30  sh.600438      通威股份
16  2023-10-30  sh.600519      贵州茅台
17  2023-10-30  sh.600690      海尔智家
18  2023-10-30  sh.600745      闻泰科技
19  2023-10-30  sh.600809      山西汾酒
20  2023-10-30  sh.600887      伊利股份
21  2023-10-30  sh.600893      航发动力
22  2023-10-30  sh.600900      长江电力
23  2023-10-30  sh.600905      三峡能源
24  2023-10-30  sh.601012      隆基绿能
25  2023-10-30  sh.601066      中信建投
26  2023-10-30  sh.601088      中国神华
27  2023-10-30  sh.601166      兴业银行
28  2023-10-30  sh.601225      陕西煤业
29  2023-10-30  sh.601288      农业银行
30  2023-10-30  sh.601318      中国平安
31  2023-10-30  sh.601390      中国中铁
32  2023-10-30  sh.601398      工商银行
33  2023-10-30  sh.601628      中国人寿
34  2023-10-30  sh.601633      长城汽车
35  2023-10-30  sh.601668      中国建筑
36  2023-10-30  sh.601669      中国电建
37  2023-10-30  sh.601728      中国电信
38  2023-10-30  sh.601857      中国石油
39  2023-10-30  sh.601888      中国中免
40  2023-10-30  sh.601899      紫金矿业
41  2023-10-30  sh.601919      中远海控
42  2023-10-30  sh.603259      药明康德
43  2023-10-30  sh.603260      合盛硅业
44  2023-10-30  sh.603288      海天味业
45  2023-10-30  sh.603501      韦尔股份
46  2023-10-30  sh.603799      华友钴业
47  2023-10-30  sh.603986      兆易创新
48  2023-10-30  sh.688111      金山办公
49  2023-10-30  sh.688599      天合光能

logout success!

In [ ]:
了解公司的季度盈利能力

In [3]:
import baostock as bs
import pandas as pd
from IPython.display import display

# 登录 BaoStock 系统
lg = bs.login()

# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

# 获取600036招商银行季频盈利能力数据
profit_list = []
rs_profit = bs.query_profit_data(code="sh.600036", year=2022, quarter=4)
while (rs_profit.error_code == '0') & rs_profit.next():
    profit_list.append(rs_profit.get_row_data())

# 转换为DataFrame格式
df_profit = pd.DataFrame(profit_list, columns=rs_profit.fields)

# 打印结果
display(df_profit)

# 将结果集输出到csv文件
df_profit.to_csv("./profit_data.csv", encoding="gbk", index=False)

# 退出 BaoStock 系统
bs.logout()

login success!
login respond error_code:0
login respond  error_msg:success

,code,pubDate,statDate,roeAvg,npMargin,gpMargin,netProfit,epsTTM,MBRevenue,totalShare,liqaShare
0,sh.600036,2023-03-25,2022-12-31,0.152986,0.404005,,139294000000.000000,5.472357,344783000000.000000,25219845601.00,20628944429.00

logout success!

了解公司的季度营运能力

In [4]:
import baostock as bs
import pandas as pd
from IPython.display import display

# 登录 BaoStock 系统
lg = bs.login()

# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

# 获取600036招商银行季频营运能力数据
operation_list = []
rs_operation = bs.query_operation_data(code="sh.600036", year=2022, quarter=4)
while (rs_operation.error_code == '0') & rs_operation.next():
    operation_list.append(rs_operation.get_row_data())

# 转换为DataFrame格式
df_operation = pd.DataFrame(operation_list, columns=rs_operation.fields)

# 打印输出
display(df_operation)

# 将结果集输出到csv文件
df_operation.to_csv("./operation_data.csv", encoding="gbk", index=False)

# 退出 BaoStock 系统
bs.logout()

login success!
login respond error_code:0
login respond  error_msg:success

,code,pubDate,statDate,NRTurnRatio,NRTurnDays,INVTurnRatio,INVTurnDays,CATurnRatio,AssetTurnRatio
0,sh.600036,2023-03-25,2022-12-31,,,,,,0.035567

logout success!

了解季频成长能力

In [ ]:
import baostock as bs
import pandas as pd
from IPython.display import display

# 登录 BaoStock 系统
lg = bs.login()

# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

# 获取600036招商银行季频成长能力数据
growth_list = []
rs_growth = bs.query_growth_data(code="sh.600036", year=2022, quarter=4)
while (rs_growth.error_code == '0') & rs_growth.next():
    growth_list.append(rs_growth.get_row_data())

# 转换为DataFrame格式
df_growth = pd.DataFrame(growth_list, columns=rs_growth.fields)

# 打印输出
display(df_growth)

# 将结果集输出到csv文件
df_growth.to_csv("./growth_data.csv", encoding="gbk", index=False)

# 退出 BaoStock 系统
bs.logout()

季频偿债能力

In [ ]:
import baostock as bs
import pandas as pd
from IPython.display import display

# 登录 BaoStock 系统
lg = bs.login()

# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

# 获取600036招商银行季频偿债能力数据
balance_list = []
rs_balance = bs.query_balance_data(code="sh.600036", year=2022, quarter=4)
while (rs_balance.error_code == '0') & rs_balance.next():
    balance_list.append(rs_balance.get_row_data())

# 转换为DataFrame格式
df_balance = pd.DataFrame(balance_list, columns=rs_balance.fields)

# 打印输出
display(df_balance)

# 将结果集输出到csv文件
df_balance.to_csv("./balance_data.csv", encoding="gbk", index=False)

# 退出 BaoStock 系统
bs.logout()